<form #employeeForm="ngForm" (ngSubmit)="postData(employeeForm)">
  <h3>GET DATA</h3>
  <h5>{{dataReceive}}</h5>
  <h3>POST DATA</h3>
  <div class="row">
        <div class="input-field col s12">
        <input type="text" name="name" #name="ngModel" [(ngModel)]="clientService.nombre" placeholder="Ingresa tu nombre">
        </div>
        <!-- <div class="input-field col s12">
        <input type="text" name="position" #position="ngModel" [(ngModel)]="clienteService." placeholder="Ingresa tu position">
        </div> -->
                <div class="card-action">
          <div class="input-field col 12">
              <button class="btn right" style="margin-left: 2px">Save </button>
          </div>
        </div>

</div>
</form>
